
body{
    background-image: linear-gradient(to top, #fccb90 0%, #d57eeb 100%, #6b8cce 100%, #a2b6df 100%);
    background-attachment: fixed;
    background-position: right-top;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    position: center;
}
 
 table, th, td {
    border: 1px solid black;
 }

 h2, span, td, tr, input, button {
    font-family: 'Raleway', sans-serif;
 }

input {
    font-size: 18px;
}

.taskColumn {
    width: 700px;
}

.addTaskButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(100, 166, 210);
}

.addTaskButton:hover {
    background-color: rgb(10, 105, 177); /* Green */
    color: white;
}

.deleteButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(210, 100, 100);
    display: block;
    margin: 0 auto; 
}

.deleteButton:hover {
    background-color: rgb(211, 21, 21); /* Green */
    color: white;
}

.completeButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(131, 223, 131);
    display: block;
    margin: 0 auto; 
}

.completeButton:hover {
    background-color: rgb(32, 126, 35); /* Green */
    color: white;
}

.success {
    background-color: rgb(122, 197, 127);
}


  